{
  "presets": ["next/babel"],
  "plugins": [
    ["styled-components", { "ssr": true }],
    [
      "macros",
      {
        "config": "./tailwind.config.js",
        "format": "auto"
      }
    ]
  ]
}
